# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
include/.DS_Store
include/.DS_Store
include/case.h
include/case.h
include/.DS_Store
include/header.h
include/jeu.h
include/piece.h
*.h
JeuDeDames.cbp
JeuDeDames.depend
JeuDeDames.layout
main.cpp
piece.cpp
src/jeu.cpp
src/piece.cpp
header.h
*.h
JeuDeDames.cbp
JeuDeDames.cpp
JeuDeDames.depend
piece.cpp
bin/Debug/JeuDeDames
JeuDeDames.depend
JeuDeDames.depend
main.cpp
